*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFE3E3;
}

#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0; */
}

li {
    list-style-type: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: gold;
    background-color: #F8485E;
    width: 100%;
}

img {
    width: 250px;
    max-width: 100%;
}

.genres_list {
    color: #A03C78;
}

.box {
    width: 250px;
    padding: 15px 10px;
    border-radius: 7px;
    margin-right: 40px;
    height: 100%;
    background-color: #FFADAD;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s ease all;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.box:nth-child(4n) {
    margin-right: 0;
}

.menu {
    padding: 0;
}

h2 {
    color: #A03C78;
}

.li {
    color: #FFEFBC;
}

time {
    color: #91469b;
    font-weight: 600;
    margin-bottom: 10px;
}

#form {
    margin: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    background-color: #E2C2B9;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    width: 1160px;
    max-width: 100%;
}

.films_filter_wrapper {
    display: flex;
}

#select {
    margin-right: 25px;
    box-sizing: border-box;
    padding: 10px 7px;
    margin-top: 10px;
    width: 100%;
    border: none;
    outline: none;
}

#filter {
    box-sizing: border-box;
    padding: 10px 7px;
    margin-top: 10px;
    width: 100%;
    border: none;
    outline: none;
}

#input {
    box-sizing: border-box;
    padding: 10px 7px;
    margin-top: 10px;
    width: 100%;
    border: none;
    outline: none;
}

#btn {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background-color: #FD6F96;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.btn{
    background-color: #FD6F96;
    border: none;
    font-size: 20px;
    padding: 10px 0;
}
.modal {
    background-color: rgba(0, 0, 0, 0.50);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

.modal-active{
    display: block;
}

.modalmini{
    position: relative;
    margin: 0 auto;
    background-color: #FFE3E3;
    width: 600px;
    height: 400px;
    max-width: 100%;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-510px);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.new_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.new_title{
    margin-bottom: 15px;
}

.new_text{
    /* width: 300px; */
    max-width: 100%;
    margin-top: 10px;
    text-align: center;
}

.link{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    width: 170px;
    max-width: 100%;
    border: 3px solid #FF7777;
    margin-top: 10px;
    background-color: #FF7777;
    border-radius: 5px;
}
.link:hover{
    color: #FF7777;
    background-color: transparent;
}

.miniactiv{
    transform: translateY(0px);
}

.closebtn{
    cursor: pointer;
    background-color:transparent;
    border: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

@media screen and (max-width:450px) {
    #list {
        align-items: center;
    }

    .box {
        margin-right: 0;
        margin-bottom: 30px;
    }
}